@font-face {
    font-family: "DMSans";
    src: url("./../font/DMSans-VariableFont_opsz\,wght.ttf");
}

body, h1 {
    margin: 0;
}

body {
    font-family: "DMSans";
}

h1 {
    font-size: 300%;
    text-align: center;
}

.eventBody {
    max-width: 800px;
    margin: auto;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

#eventsContainer {
    flex: 1;
}

.eventItem.eventHidden {
    display: none;
    visibility: hidden;
}

#eventLocationSection {
    position: sticky;
    top: 0px;

    background-color: black;
    color: white;
    padding: 5px 10px;

    display: grid;
    grid-template-columns: auto 1fr auto;
}

.footer {
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 2px 4px;
    text-align: center;

    position: sticky;
    bottom: 0px;
}

.footer > a {
    background-color: black;
    color: white;
}

#eventSelectorExpand {
    color: white;
    text-align: center;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 18px;

    cursor: pointer;
}

#eventLocationSelectorLabel {
    min-width: 100px;
}

.eventSelectorDetailsHidden {
    display: none;
}

.eventSelectorDetailsShown {
    display: block;
}

.eventItem {
    margin: 10px;
    box-shadow: 0px 0px 5px #777777;
    display: flex;
    flex-direction: column;
}

#eventLocationSection > select, #eventLocationSection > input {
    text-align: left;
    width: 100%;
}

.eventInfo {
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.eventToggleInformation {
    padding: 1px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 14px;
}

.eventToggleInformation:hover {
    background-color: rgb(53, 53, 53);
    font-weight: bold;
    cursor: pointer;
}

.eventDateContainer {
    border: 2px dashed black;
    text-align: center;
}

.eventDateContainer > div {
    font-weight: 800;
    line-height: 90%;
    text-wrap: nowrap;
    padding: 0px 2px;
}

.eventDateMonth {
    margin: 2px 4px 0px 4px;
    font-size: 150%;
}

.eventDateDay {
    font-size: 175%;
}

.eventDateWeekday {
    margin: 0px 4px 2px 4px;
    font-size: 150%;
}

div.eventDateTime {
    font-size: 125%;
    background-color: black;
    color: white;
    padding: 3px 2px;
}

.eventTitle {
    padding: 0px 5px;
    line-height: 100%;
    font-weight: 800;
    font-size: 150%;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.eventTicketContainer {
    background-color: black;
    color: white;

    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    border: 5px solid black;
    margin-top: 5px;
}

.eventTicketContainer:hover {
    background-color: rgb(53, 53, 53);
    border: 5px solid rgb(53, 53, 53);
    cursor: pointer;
}

.eventTicketLink {
    color: white;

    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.eventNoLink {
    display: none;
}

.eventContent {
    flex: 1 1 auto;
}

.eventTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.tagHidden {
    display: none;
}

.eventTag {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightgray;

    font-size: 14px;

    padding: 3px 5px;
    margin: 4px 0px 0px 4px;
}

.eventTag > img {
    width: 18px;
    height: 18px;
    padding-right: 2px;
}

.timeDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.timeTag {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px 0px;
}

.eventShortDesc, .eventFullDesc {
    margin: 4px 8px;
    font-size: 110%;
}

.eventShort .eventFullDesc,
.eventShort .timeDetails,
.eventFull .eventShortDesc {
    display: none;
}

.infoShow {
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.infoHidden {
    display: none;
}