body,
h1 {
    margin: 0;
}

#eventsContainer {
    background-color: lightcyan;
    /* display: grid; */

    max-width: 1400px;
    margin: auto;
}

.eventElement {
    background-color: lightgreen;
    border-width: 1px 1px;
    margin: 5px 0px;
    border-style: solid;
    display: grid;
    /* width: 100%; */
    /* grid-template-columns: 2fr 1fr 1fr; */
    grid-template-areas:
        "guid   guid    guid    guid    guid"
        "date   title   title   title   title"
        "date   sdesc   sdesc   sdesc   sdesc"
        "date   time    town    loc     ."
        "ticket ticket  ticket  info    info"
    ;
    
    grid-template-rows:    0fr 0fr 1fr 0fr 0fr;
    grid-template-columns: 100px 1fr 1fr 1fr 0fr;
}

.eventID {
    grid-area: guid;
}

.eventTitle {
    grid-area: title;
}

.eventDate {
    grid-area: date;
}

.eventShortDescription {
    /* grid-area: sdesc; */
    display: none;
}

.eventTown {
    grid-area: town;
}

.eventLocation {
    grid-area: loc;
}

.eventFullDescription {
    grid-area: sdesc;
    /* display: none; */
}

.eventStartTime {
    grid-area: time;
}

.eventDoorTime {
    display: none;
}

.eventEndTime {
    display: none;
}

.eventURL {
    grid-area: ticket;
}

.eventInfo {
    grid-area: info;
}