@font-face {
    font-family: "DMSans";
    src: url("./../font/DMSans-VariableFont_opsz\,wght.ttf");
}

body, h1 {
    margin: 0;
}

body {
    font-family: "DMSans";
}

h1 {
    font-size: 350%;
    text-align: center;
}

.eventBody {
    max-width: 800px;
    margin: auto;
}

.eventItem.eventHidden {
    display: none;
    visibility: hidden;
}

.eventLocationSection {
    background-color: black;
    color: white;
    padding: 5px 10px;

    display: flex;
    flex: 0 1;
}

#eventLocationSelector {
    width: 100%;
    margin-left: 10px;
}

.eventItem {
    margin: 10px;
    box-shadow: 0px 0px 5px #777777;
    display: flex;
    flex-direction: column;
}

.eventInfo {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.eventToggleInformation {
    padding: 3px;
    background-color: black;
    color: white;
    text-align: center;
}

.eventToggleInformation:hover {
    background-color: rgb(53, 53, 53);
    font-weight: bold;
    cursor: pointer;
}

.eventDateContainer {
    border: 2px dashed black;
    text-align: center;
}

.eventDateContainer > div {
    font-weight: 800;
    line-height: 90%;
    text-wrap: nowrap;
    padding: 0px 2px;
}

.eventDateMonth {
    font-size: 175%;
}

.eventDateDay {
    font-size: 200%;
}

.eventDateWeekday {
    font-size: 175%;
}

div.eventDateTime {
    font-size: 125%;
    background-color: black;
    color: white;
    padding: 3px 2px;
}

.eventTitle {
    padding: 0px 5px;
    line-height: 100%;
    font-weight: 800;
    font-size: 150%;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.eventTicketContainer {
    background-color: black;
    color: white;

    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    border: 5px solid black;
    margin-top: 5px;
}

.eventTicketContainer:hover {
    background-color: rgb(53, 53, 53);
    border: 5px solid rgb(53, 53, 53);
    cursor: pointer;
}

.eventTicketLink {
    background-color: black;
    color: white;

    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.eventTicketLink:hover {
    background-color: rgb(53, 53, 53);
    cursor: pointer;
}

.eventContent {
    flex: 1 1 auto;
}

.eventTags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.eventTag {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: lightgray;

    padding: 3px 5px;
    margin: 4px 8px;
}

.timeDetails {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.timeTag {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px 0px;
}

.eventShortDesc, .eventFullDesc {
    margin: 4px 8px;
    font-size: 110%;
}

.eventShort .eventFullDesc,
.eventShort .timeDetails,
.eventFull .eventShortDesc {
    display: none;
}