body,
h1 {
    margin: 0;
    font-family: "DMSans";
}

h1 {
    font-size: 50px;
    width: 100%;
    text-align: center;
}

@font-face {
    font-family: "DMSans";
    src: url("./../font/DMSans-VariableFont_opsz\,wght.ttf");
}

#eventsContainer {
    background-color: lightcyan;
    /* display: grid; */

    max-width: 1000px;
    margin: auto;
}

.eventElement {
    background-color: white;

    background-position: right top;
    background-repeat: no-repeat;

    gap: 5px;

    padding: 4px;
    margin: 10px;
    box-shadow: 0px 0px 5px black;
}

.smallView {
    display: grid;

    grid-template-areas:
        "date   title   title   title   ticket"
        "date   town loc loc ."
        "date   sdesc   sdesc   sdesc   sdesc"
        "date info  info  info    info"
    ;
    
    grid-template-rows:    auto auto 1fr auto;
    grid-template-columns: 100px 1fr 1fr 1fr auto;
}

.bigView {
    display: grid;

    grid-template-areas:
        "date   title   ticket"
        "town loc sdesc"
        "info info info"
    ;
    grid-template-rows:    1fr 1fr 1fr;
    grid-template-columns:  1fr 1fr 1fr;
}

.eventTitle {
    grid-area: title;

    font-size: 25px;
    font-weight: bold;

    line-height: 100%;

    border-bottom: 2px solid black;
}

.eventDate {
    grid-area: date;

    background-color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    /* padding: 5px; */
    border: 2px dashed black;
    /* line-height: 100%; */
}

.eventMonth {
    font-size: 26px;
    letter-spacing: 0px;
}

.eventDay {
    font-size: 34px;
}

.eventWeekday {
    font-size: 24px;
    letter-spacing: 0px;
}

.eventTime {
    font-size: 20px;
    background-color: black;
    width: 100%;
    color: white;
}

.eventShortDescription {
    background-color: lightseagreen;
    grid-area: sdesc;
    /* display: none; */
}

.eventTown {
    background-color: yellowgreen;
    grid-area: town;
}

.eventLocation {
    background-color: coral;
    grid-area: loc;
}

.eventFullDescription {
    /* grid-area: sdesc; */
    display: none;
}

.eventStartTime {
    background-color: cornflowerblue;
    grid-area: time;
    display: none;
}

.eventDoorTime {
    display: none;
}

.eventEndTime {
    display: none;
}

.eventURL {
    grid-area: ticket;
    background-color: yellow;
    font-weight: 900;
}

.eventInfo {
    background-color: darkolivegreen;
    grid-area: info;
}